body{
   /* border: 2px solid black;*/
    /*width: 60vw;*/
    height: 100vh;
    margin:auto;
    color:whitesmoke;
    background-color: rgb(78, 73, 73);
  /* background:linear-gradient(45deg, #ff4800, #e68c50, #fffdfd) ; */
    display: flex;
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main{
    display: flex;
    flex-flow: column nowrap;
    /*align-items: center;*/
    justify-content: center;
    width: 70vw;
}

h1{
    margin: 2rem 8rem;
    color: #e68c50;
    text-align: right;
    font-size: 3.5rem;
}

p{
    margin: 2rem 8rem;
}

#container{
    display: flex;
    flex-flow: row nowrap;
}

img{
    max-width: 100%;
    height: 100vh;
}

.formcontainer{
    border: 2px solid #e68c50;
    border-radius: 10px;
    margin: 0 8rem;
    /*padding: 2rem;*/
}

form{
   /* border:2px double black;*/
    margin: 0 5rem;
    padding: 0 2rem 2rem 2rem;
}

label:not(:last-child){
    display: block;
    padding-bottom: 0.8rem;
}

input{
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
}

button{
    display: block;
    margin: 0 auto;
    background-color:whitesmoke ;
    margin-top: 0.8rem;
    border: 2px solid #e68c50;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #e68c50;
}